- model_class = eval("#{ @assessment.type_helper }.new.class")
%h1.page-header=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")
= render :partial => "form"
