:plain
  var html = "#{ escape_javascript(render :partial => 'lessons/assessment',
    locals: { assessment: @assessment,
              indicators: @assessment.assessor.indicators }) } }"

  $("tr#student_#{ @assessment.student_id }").replaceWith(function() {
      return $(html).hide().fadeIn();
  });

  $('[data-toggle="tooltip"]').tooltip();
