:plain
  var html = "#{ escape_javascript(render :partial => 'lessons/student',
    locals: { assessment: @assessment,
              student: @assessment.student }) } }"

  $("tr#student_#{ @assessment.student_id }").replaceWith(function() {
      return $(html).hide().fadeIn();
  });
