:plain
  var html = "#{ escape_javascript(render :partial => 'assessments/form',
    locals: { student: @assessment.student,
              assessment: @assessment,
              indicators: @assessment.assessor.indicators }) } }"

  $("table#student_#{ @assessment.student_id }").replaceWith(function() {
      return $(html).hide().fadeIn();
  });
