= link_to group_lesson_objective_report_path(@group, @lesson, objective, format: :pdf) do
  = glyph('Export as PDF', 'file')

%table.table.assessment
  %thead
    %th.col-xs-2 Student
    %th.col-xs-2 Previous attempts
    %th Score for this lesson
  %tbody
    - lesson.assessments.includes(:student).order([:mark, 'students.name']).where(indicator: objective.indicator).each do |assessment|
      - next unless assessment.student
      = render partial: 'reports/lesson/assessment', locals: { assessment: assessment }
