:plain
  $("tr#student_score_#{ @assessment_student.student.id}").replaceWith("#{ escape_javascript(render :partial => 'assessments/student', locals: { :assessment_student => @assessment_student}) }");
  $("tr#student_score_#{ @assessment_student.student.id} form").attr('method','put')