%table.table
  %thead
    %th.col-xs-2 Date
    %th.col-xs-2 Teacher
    %th Objective
    %th.col-xs-4 Score
  - student.assessments.each do |assessment|
    - if assessment.assessor.is_a?(Lesson)
      %tr.activity
        %td= assessment.assessor.lesson_date
        %td= assessment.assessor.teacher.name
        %td= assessment.indicator.ancestry.join(' > ')
        %td= render partial: 'assessments/progress_bar', locals: { assessment: assessment }

    - else
      .activity

