%table.table
  %thead
    %th.col-xs-2 Date
    %th.col-xs-2 Teacher
    %th Objective
    %th.col-xs-4 Score
  - student.assessments.each do |assessment|
    %tr.activity
      %td= assessment.assessed_at
      %td= assessment.assessor_by.name
      %td= assessment.indicator.ancestry.join(' > ')
      %td= render partial: 'assessments/progress_bar', locals: { assessment: assessment }
