%table.table
  %thead
    %th.col-xs-2 Date
    %th.col-xs-2 Teacher
    %th Objective
    %th.col-xs-4 Score
  - student.assessments.marked.each do |assessment|
    %tbody
      %tr.activity
        %td= link_to assessment.assessed_at, [@group, assessment.assessor]
        %td= assessment.assessed_by
        %td= assessment.indicator.ancestry.join(' > ')
        %td= render partial: 'assessments/progress_bar', locals: { assessment: assessment }
