- model_class = Student.new.class
%h1.page-header=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name

= link_to t('.new', :default => t("helpers.links.new")), new_group_student_path(@group), :class => 'btn btn-primary'
