= render partial: 'tabs', locals: { activate: :activity }
.tab-content
  .tab-pane.active
    = render partial: 'students/activity', locals: { student: @student }

- content_for(:right_pane) do
  .panel.panel-default
    .panel-heading #{ @group }
    .panel-body
      - @group.students.each do |student|
        %p= link_to_unless_current student, [@group, student]

