- @page_header = 'Forgot your password'

.col-xs-4
  = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

    = f.email_field :email, autofocus: true
    = f.submit 'Send me reset password instructions'

.row
