- objective = objective_f.object
.well.objective
  = objective_f.text_field :stream, label: 'Stream',
    wrapper_class: 'name-input',
    class: 'objective-name'

  = objective_f.select :indicator_id,
      subject.objectives.map{ |t| [t.cached_ancestry_name.capitalize, t.id]},
      class: 'objectives',
      label: 'Objective'

  %p
    = objective_f.link_to_remove(glyph('Remove', 'trash')).html_safe
