.bs-component
  .jumbotron
    %p We've not build this feature yet.
    %p But you can achieve the same functionality with a lesson.
    = link_to new_group_lesson_path(@group) do
      .btn.btn-primary.btn-lg
        Add a lesson
