%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Lesson Date
      %th Objective
      %th

    - @group.lessons.each do |lesson|
      %tr
        %td= lesson.lesson_date
        %td= link_to lesson.name, group_lesson_path(@group, lesson)
        %td= link_to 'edit', edit_group_lesson_path(@group, lesson)

