%table.table.table-striped.table-bordered
  %tbody
    - @group.students.each do |student|
      %tr.student
        %td= link_to student.name, student_path(student)
        %td= render partial: 'students/actions', locals: { student: student }
