- if @group.students.empty?
  .bs-component
    .jumbotron
      %p You don't have any students yet.
      = link_to edit_group_path(@group) do
        .btn.btn-primary.btn-lg
          Add some students

- else
  .list-group
    .list-group-item.larger-list-group-item
      = link_to edit_group_path(@group) do
        = glyph('Add students', 'plus')
    - @group.students.each do |student|
      .list-group-item.larger-list-group-item
        = link_to student.name, group_student_path(@group, student)
