- @page_header = 'Curricula'
- content_for(:page_javascript) do
  = javascript_include_tag 'miller-columns'
  :javascript
    $(document).ready( function() { $("div.columns").millerColumns(); });

.breadcrumb
.columns{:tabindex => "1"}
  %ul
    - Indicators::Subject.all.each do |subject|
      = render partial: 'curricula_indicator', locals: { indicator: subject }
