- @page_header = 'Helping you assess student progress against the new national curriculum'
- content_for(:title) do
  - "Tools For Teachers :: #{ @page_header }"

%blockquote
  %p
    I fill in mountains of paperwork and I want to
    %b do something
    with all the data I collect.
  %small
    %cite Primary School Teacher

%blockquote.pull-right
  %p
    If I am better informed, I can be a
    %b
      better teacher.
  %small
    %cite Secondary School Maths Teacher
.row
%blockquote
  %p
    %b Withitness
    \- a good teacher knows what's going on in all parts of the classroom, all the time.

  %small
    %cite Kounin
.row
.row
.well
  %p
    We are busy building the software, but do
    = link_to 'get in touch', 'mailto:admin@toolsforteachers.org.uk?subject=Beta%20testing'
    so we can show you what we are working on.

  %p

  %p Thanks,
  %p Tools for Teachers
  %p= link_to 'admin@toolsforteachers.org.uk', 'mailto:admin@toolsforteachers.org.uk?subject=Beta%20testing'
  %p= social_share_button_tag('Tools for Teachers :: Helping you assess student progress against the new national curriculum')
