%td.assessment-form.col-xs-8.hidden{ colspan: 2, id: "student_#{ assessment.student.id }_indicator_#{ indicator.id }_form" }
  = render partial: 'assessments/form', locals: { assessment: assessment }
