%td.notes
  = link_to '#', data: { type: 'textarea', resource: 'assessment', name: 'notes', url: group_assessment_path(@group, assessment)}, class: 'editable-notes' do
    = textarea_format(assessment.notes)
