%td.score{ class: progress_style(assessment.score) }
  = link_to '#', data: { type: 'select', resource: 'assessment', name: 'mark', url: group_assessment_path(@group, assessment)}, class: 'editable-score' do
    = score_text(assessment)
