.row
  .col-sm-6
    %well
      %dl.dl-horizontal.lesson-details
        %dt Subject
        %dd
          %mark #{ @lesson.subject.try(:name) }

        %dt Teacher
        %dd
          %mark #{ lesson.teacher }

        %dt Date
        %dd
          %mark #{ lesson.lesson_date }

  .col-sm-6
    %well
      %b Notes
      #{ lesson.notes }
