.panel.panel-default.objective
  .panel-heading
    = multiple_objectives ? objective.stream : 'All students'
  .panel-body
    %table.table
      %tbody
        %tr
          %td.text-muted Level
          %td.text-primary #{ objective.level }
        %tr
          %td.text-muted Topic
          %td.text-primary #{ objective.topic }
        %tr
          %td.text-muted Objective
          %td.text-primary #{ objective.objective }
