.panel.panel-default.objective
  .panel-heading
    = objective.type_of
  .panel-body
    = render partial: 'lessons/objective_details', locals: { objective: objective }
    = sub_content if defined?(sub_content)
