- assessment ||= @lesson.assessments.where(student: student).first_or_initialize
%tr{ id: "student_#{ student.id }", class: likert_style(assessment.score) }
  %td.lead.student= student.name
  %td.stream
  %td= render partial: 'assessments/form',
    locals: { assessment: assessment, objectives: assessment.assessor.objectives }
  %td.attempt
    - student.indicator_assessments(assessment.indicator).each do |attempt|
      = render partial: "assessments/attempt", locals: { attempt: attempt }
