- @page_header = link_to_group
= render partial: 'groups/nav'

.btn= link_to glyph('Add a new lesson', 'plus'), new_group_lesson_path(@group)
.btn= link_to glyph('Manage students', 'plus'), group_students_path(@group)

= render partial: 'list'
