%li.list-group-item

  - if indicator.is_a?(Indicators::Objective)
    = glyph(nil, 'blackboard')
    = link_to indicator, discussion_path(indicator)
  - else
    = indicator
  - unless indicator.children.empty?
    %ul
      - indicator.children.each do |child|
        = render partial: 'indicator', locals: { indicator: child }

