- @page_header = @curriculum
- content_for(:page_javascript) do
  = javascript_include_tag 'miller-columns'
  :javascript
    $(document).ready( function() { $("div.miller-columns").removeClass('hidden').millerColumns(); });

.lead Browse the curriculum and choose an objective to discuss

.miller-columns.hidden{:tabindex => "1"}
  %ul.list-group
    - Indicators::Subject.all.each do |subject|
      = render partial: 'indicator', locals: { indicator: subject }
