- collection.each do |indicator, sub_item|
  %li.list-group-item
    %span.badge= indicator.friendly_type
    = link_to_indicator(indicator)

    - unless indicator.leaf?
      %ul.list-group
        = render partial: 'indicator', locals: { collection: indicator.children }

