- collection.each do |indicator, sub_item|
  %li
    = link_to_indicator(indicator)
    <br>
    - unless indicator.leaf?
      %ul
        = render partial: 'indicator', locals: { collection: indicator.children }

