%ul.breadcrumb
  - @indicator.ancestors.reverse_order.each do |indicator|
    %li= link_to_indicator(indicator)
  %li= @indicator

%h2
  = @indicator
  .small Enable: edit parent, edit name, add child (must be lower class), change type

%ul.list-group
  = render partial: 'indicator', locals: { collection: @indicator.children }

