// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select#lesson_student_score { width:50px; }
textarea#lesson_name { width: 400px; height: 60px;}
select#lesson_indicator_id { width: 700px; }
select#lesson_strand { width: 350px; }