$color_100: #24E927;
$color_80: #8ED636;
$color_60: #F8C244;
$color_40: #F06122;
$color_20: #E90000;

.score_100 {
  background-color: $color_100;
  color: #fff;
}
.score_80 {
  background-color: $color_80;
  color: #fff;
}
.score_60 {
  background-color: $color_60;
  color: #fff;
}
.score_40 {
  background-color: $color_40;
  color: #fff;
}
.score_20 {
  background-color: $color_20;
  color: #fff;
}
