$color_100: #6DA539;
$color_80: #B0B441;
$color_60: #F3CA42;
$color_40: #BD7330;
$color_20: #BD3030;

.score_100 {
  background-color: $color_100;
}
.score_80 {
  background-color: $color_80;
}
.score_60 {
  background-color: $color_60;
}
.score_40 {
  background-color: $color_40;
}
.score_20 {
  background-color: $color_20;
}
.score_0 {
  a {
    color: #000 !important;
  }
}
.score {
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}
.indicator-progress {
  line-height: 2.4;
  border:solid 1px black;
  width: 100%;
  .score {
    padding-left: 4px;
  }
}
