h1 {
  margin-left: 15px !important;
}
ul.nav .divider {
  background-color: #fff;
}
.page-header.no-border {
  border: 0;
}
.discuss .btn {
  font-size: 13px !important;
}
.topic .panel-heading .discuss a {
  color: #fff;
}
.topic .prompt {
    font-size: 15px !important;
}
dt, dd {
  line-height: 1.8 !important;
}
