- @page_header = link_to_group
= render partial: 'lessons/details', locals: { lesson: @lesson }


%ul.nav.nav-pills
  %li.presentation
    = link_to group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-pencil
      Scoring view

- @lesson.objectives.each do |objective|
  - sub_content = render(partial: 'reports/lesson/objective', locals: { lesson: @lesson, objective: objective })
  = render partial: 'lessons/objective', locals: { multiple_objectives: @lesson.multiple_objectives?,      objective: objective, sub_content: sub_content }


