- if current_teacher
  %ul.nav.navbar-nav
    %li.dropdown
      = link_to groups_path do
        Classes
    %li.dropdown
      = link_to indicators_path do
        Subjects
  %ul.nav.navbar-nav.navbar-right
    %li= link_to current_teacher.name, '#'
    %li= link_to "Sign out", destroy_teacher_session_path, :method => :delete
